.github/**
.vscode/**
images/**
!images/logo.png
out/test/**
src/**
vendor/jetbrains/phpstorm-stubs/**
!vendor/jetbrains/phpstorm-stubs/PhpStormStubsMap.php
vendor/bin/**
**/.DS_Store
**/.editorconfig
**/.gitignore
**/.npmrc
**/.styleci.yml
**/.travis.yml
**/*.d.ts
**/*.map
**/appveyor.yml
**/dependencies.yml
**/jshintrc
**/phpunit.xml.dist
**/tsconfig.json
**/tslint.json
setup.bat
